.boxseach{
display: flex;
flex-direction: column;
}
.boxseach .info{
    display: flex;
    flex-direction: row;
}
.boxseach ._lable{
    width:50px;
    height:38px;
    line-height: 38px;
}
.wrapper{
    width: 700px;
}
.boxlist .boxx{
    display: flex;

}
.ul-map{
    list-style: none;
    padding: 0;
}
.before::before{
    content: '0';
}
._btn-delete{
    margin-left: 20px;
}